<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(71, 5, 40);">
    <center>
        <h1 style="color: aquamarine;">Adipurush_page</h1>

        <marquee behavior="" direction=""><h1 style="color: burlywood;">Jai Sree Ram</h1></marquee>
        <h1>Here we Used Specific_url_Navigation</h1>
        <h1><a href="{% url 'app:radheshyam' %}">Radheshyam</a></h1>
    </center>
</body>
</html>